* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: sans-serif;
  background-color: #151515;
  color: white;
}

h1 {
  text-align: center;
  margin: 4%;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hidden{
  visibility: hidden;
}

.card {
  /* border: 1px solid red; */
  border-radius: 5px;
  width: 25%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* background: #e8e8e8; */
  /* color: #151515; */
  transition: all .2s ease-in-out;
  border: none;
}

.card:hover {
  transform: scale(1.1);
  color: #2dad48;
}

.greenText {
  color: #2dad48;
}

.grey {
  filter: grayscale(100%);
}

.input {
  display: flex;
  justify-content: flex-end;
  margin: 4% 0;
}

form {
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-left: 3%;
  border-radius: 5px;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid green; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;;
  padding: 2%;
  width: 25%;
  text-align: center;
}

nav a:hover {
  background: white;
  color: #151515;
}

#exampleModal{
  /* background: red; */
}

.modal-content{
  margin-top: 10%;
  background: #151515;
  border: 1px solid white;
}

button.close span{
  color: white;
}

button.close span:hover{
  color: red;
}

.btn-primary{
  background: transparent;
  border: 1px solid white;
  font-size: .9rem;
  color: white;
}

.signUpBtn{
  border-radius: 5px;
  padding: .75% 0;
  width: 80px;
}

.signUpDiv {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.registerBtn{
  border-radius: 5px;
  padding: .75% 0;
  width: 80px;
  margin: 2% auto;
}

@media(max-width: 800px){
  .card{
    width: 45%;
  }
}

@media(max-width: 500px){
  nav{
    flex-direction: column;
  }
  nav a {
    width: 100%;
  }
  .card{
    width: 100%;
    margin-bottom: 15%;
  }
}


